<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>统计块数</th>
        <th>平均幸运度</th>
        <th>孤块率</th>
      </tr>
    </thead>
    <tbody>
    {{#each-in model.luck as |total row|}}
    <tr>
      <td>{{total}}</td>
      <td>{{format-number row.luck style='percent'}}</td>
      <td>{{format-number row.orphanRate style='percent'}}</td>
    </tr>
    {{/each-in}}
    </tbody>
  </table>
</div>
